@front_frame_no_footer("请扫码进入", "", "") {
    <style>
    body{
    }
    .logo{
    width:100px;
    margin:40px auto 30px;
    }
    .logo img{
    width:100%;
    }
    .nopass{
    width:80px;
    margin:20px auto;
    }
    .nopass img{
    width:100%;
    }
    .tip{
    color:#a8a8a8;
    font-size:1.6rem;
    height:40px;
    line-height:40px;
    }
    .footer{
    width:100%;
    max-width:640px;
    position:absolute;
    bottom:10%;
    }
    .return{
    padding:10px 30px;
    background-color:#00b5aa;
    color:#fff;
    font-size:1.6rem;
    -moz-border-radius:5px;
    border-radius: 5px;
    }
    </style>
    <div class="content">
        <div class="mid">
                <!--内容开始-->
            <div class="logo"><img src="/showimg/images/logo2.png" /></div>

            <div class="nopass"><img src="/showimg/images/ing.png" /></div>
            <p class="tip">请扫还款人二维码进行授信</p>

            @*<div class="footer"><a href="#" onClick="javascript:history.go(-1);"><span class="return">返回</span></a></div>*@
                <!--内容结束-->
        </div>
    </div>
}