@(item: Host, pid: Long, money: Long) @front_frame_no_footer("随借随还签约", "ProductSignApp", "ProductSignController") {
    <style>
    body,html{
    height:100%;
    }
    .content,.mid{
    height:100%;
    line-height:100%;
    }
    .m_read_box{
    max-width:600px;
    width:96%;
    height:80%;
    background-color:#fff;
    margin:2% 2%;
    -moz-border-radius:6px;
    border-radius:6px;

    position:fixed;
    top:10px;
    }
    .m_content{
    text-align:left;
    padding:0 10px;
    height:85%;
    overflow:scroll;
    overflow-x:hidden;
    color:#878787;

    line-height:150%;
    font-size:1.4rem;
    line-height:200%;
    }
    .m_up,.m_down{
    padding:10px 0;
    }
    .m_up img,.m_down img{
    width:20px;
    }
    .footer_btn{
    max-width:640px;
    position:fixed;
    bottom:0px;
    }
    </style>
    <div class="content">
        <div class="mid">
                <!--内容开始-->
            <div class="m_read_box">
                <div class="m_up"><img src="/showimg/images/up.png" /></div>
                <div class="m_content">
                    <div style="text-align: center;">
                        <span style="font-size:16px;"><strong>&ldquo;随借随还&rdquo;借款合同条款</strong></span></div>
                    感谢您（亦称&ldquo;借款人&rdquo;或&ldquo;客户&rdquo;）向珠海横琴优微金融服务有限公司（以下简称&ldquo;我司&rdquo;）申请借款，在您点击确认本合同条款之前，请您务必仔细阅读条款内容（特别是以<strong><u>粗体下划线</u></strong>标注的内容）。一旦您点击&ldquo;同意&rdquo;按钮即视为您已仔细阅读、理解并同意本条款全部内容，同意遵守本条款之所有约定。<br />
                    <strong>一、定义与解释</strong><br />
                    除本合同条款另有约定或我司页面另有提示，下列用语具有如下含义：<br />
                    1、贷款额度：指我司根据您的资信情况，为您提供的最高额度（或称&ldquo;总额度&rdquo;），您只能在贷款额度内使用，您已经使用的贷款额度称为&ldquo;已用额度&rdquo;，尚未使用的贷款额度称为&ldquo;可用额度&rdquo;，尚未激活的额度称为&ldquo;未激活额度&rdquo;。贷款额度可根据我司需要设置成可循环使用或一次性不可循环使用，可循环使用是指借款人清偿因使用贷款额度而形成的债务后，对已经清偿的部分，借款人可再次使用。不可循环使用是指借款人使用贷款额度后，贷款额度递减，不因借款人清偿已使用贷款额度形成的债务而恢复。<strong>该贷款额度并非我司对客户的贷款承诺，我司有权随时调整或取消。</strong><br />
                    2、&ldquo;灵活用额度&rdquo;：是指您贷款额度中可转账至关联银行卡账户的部分，当您使用可灵活用额度至您关联银行卡账户时，我司将根据您的指令将可灵活用额度相应的借款划至您相应账户。<br />
                    3、初始借款本金：是指每一笔借款发放时的本金数额。<br />
                    4、随借随还：您可根据资金需求向我司提出借款申请，经我司审查同意的，您可在约定的到期还款日之前的任何时间还款，并支付相应的利息。<br />
                    5、计息、结息：本合同约定的随借随还产品按日计息，每次还款时结息，您借款当天归还的，收取您一天的利息，日利率以我司微信端界面展示为准。我司有权对起贷天数、最长借款期限、计息结息方式进行调整并通过微信公众号或其他渠道公示并自公示之日起执行。<br />
                    6、贷款逾期违约金：指您未按照本借款合同约定履行义务所应承担的违约责任形式。贷款逾期违约金按照逾期借款本金的千分之一按日收取，我司可根据实际情况调整违约金收取标准，通过我司微信公众号页面进行公示。您确认违约金标准的调整无需单独通知您，并自公示之日起执行。<br />
                    7、到期还款日：指您应还款的最晚日期。随借随还的还款方式下，到期还款日是您承诺的最晚还款日期，超过到期还款日还款的，您需按照本协议要求另行支付贷款逾期违约金。<br />
                    8、到期应付款：指您在到期还款日前应支付的全部金额，包括但不限于借款本金、利息、违约金等。<br />
                    9、账户：指借款人使用我司微信公众号服务时由我司为借款人提供的一个唯一的编号，由借款人自行设置密码，以此查询或计量借款人的转账以及使用我司所提供的其他第三方支付等服务，我司微信公众号账户的开通及使用应遵循借款人与我司相关协议约定。<br />
                    10、单位，金额以人民币&ldquo;元&rdquo;为计算单位，四舍五入，精确到小数点后两位；期限以&ldquo;自然日&rdquo;、&ldquo;天&rdquo;为计算单位，从交易成功当日起算；分期期数以公历月为计算单位。<br />
                    11、关联公司：指由一方直接控制或间接控制；或直接或间接控制一方；或与一方共同控制同一家公司或能对其施加重大影响；或与一方受同一家公司直接或间接控制的公司。包括但不限于一方的母公司、子公司；与一方受同一母公司控制的子公司；一方的合营企业、联营企业等。<br />
                    <strong>二、承诺和保证</strong><br />
                    （一）您同意和确认本条款内容是您的真实意思表示，不存在受他人胁迫或引诱的影响，您所提供的所有信息（包括所购商品或服务信息）真实、完整、准确，具有良好的信用状况，不存在任何影响您信用的情况，如涉及或可能涉及诉讼、行政处罚、仲裁等程序；您申请借款已获得您配偶（如有）的同意，您在本借款合同下债务以您个人财产及夫妻共同财产承担清偿责任。<br />
                    （二）您承诺，您向我司申请的借款仅用于购买商品或服务等消费领域，不用于股本权益性投资、股票、期货等投资活动、经营活动及其他不符合法律法规以及我司要求的用途，并积极配合我司对您信用、借款使用及偿还情况进行监督检查。<br />
                    <strong>（三）您在此确认：您授权珠海横琴优微金融服务有限公司向中国人民银行个人信用信息基础数据库查询您的信用报告、财产、资信等情况供我司使用，并授权珠海横琴优微金融服务有限公司报送您的信用记录。同时，您授权我司向其他经政府有权部门批准设立的信息库查询您的信用报告、财产、资信等情况，报送您的信用记录，同时，授权我司将您的信用记录提供给经我司许可并授权的相关业务单位使用。</strong><br />
                    <strong>（四）若您违约，您不可撤销地授权我司（或我司授权的第三方）通过当面拜访、电话、邮寄、网络等合法形式提醒或督促您改正违约行为，并且同意我司向该第三方披露此违约事件。</strong><br />
                    <strong>（五）您承认，您与我司间借款法律关系完全独立于您与商家之间的买卖或服务等基础合同关系。该基础合同关系的无效或变更并不影响您与我司借款合同的法律效力。您不得以您与商家之间的任何纠纷为由拒绝履行借款合同项下任何义务。</strong><br />
                    （六）如您个人信息（通讯地址、手机号码、工作单位及电话等）发生变化，资产或者财务状况发生重大变化或者发生了可能影响您履行本合同项下义务的任何其他情况时，您应在五日内通知我司。<br />
                    <strong>三、借款合同构成</strong><br />
                    本&ldquo;借款合同&rdquo;由您在我司微信公众号页面填写的信息、《查询授权书》、《借款核准确认书》、本条款、还款计划、借款声明、通知、公告等相关文件以及此后对前述文件所作的补充、修改所构成。除本条款外，其余部分均为借款合同的有效组成部分，与本条款具有同等法律效力。借款本金、利率、费用标准、借款期间（天数）、还款方式以我司系统中借款核准确认书记载为准。<br />
                    <strong>您在此确认并同意：本合同条款可由您一次性签订，具体每一笔借款的相关要素在您支用借款时确定，并与本合同条款及其他我司微信公众号页面展示的文件构成一份完整的借款合同，您须按照本合同条款之约定履行相应义务。</strong><br />
                    <strong>四、借款发放与支付</strong><br />
                    （一）我司有权根据您消费用途和种类将借款支付至您指定的借款发放账户。借款款项一旦付至您指定账户，即视为我司已履行借款发放义务。借款发放日期和还款计划以我司系统记载为准。<br />
                    （二）除非有确切且充分的相反证据，否则我司内部生成的记账凭证是借款合同项下借款发放及本息费偿还情况的有效证据。<br />
                    （三）我司有权要求您按照要求开通账户作为借款发放账户，本借款将发放至该账户供您自主支用，您应当提供您本人的有效账户作为借款发放账户，借款付至该账户即视为我司已履行借款发放义务。<br />
                    <strong>五、借款本息偿还与费用支付</strong><br />
                    （一）随借随还产品采用利息方式，借款利率为日利率，且为固定利率，在借款期间内保持不变，具体以我司微信公众号页面展示为准。借款利息及费用自借款发放之日起计算，利息及其他费用一经产生，您应按照借款合同约定按时偿付，我司收取后不因任何原因而退还。<br />
                    （二）我司提供不同种类的还款方式供您选择，具体还款方式、还款账号、每期还款日期和金额以我司系统记载为准，并由您在借款核准确认书上确认。<br />
                    （三）如您未能按期足额偿还应付借款本息及/或费用，则您除应立即履行还款义务外，还应就所欠付借款本金按照每日千分之一的标准按日加付自本金到期日起至您实际偿付日止以实际天数计算的贷款逾期违约金，违约金标准我司有权进行调整且自官网或客户端公告之日起生效。<br />
                    <strong>（四）您确认并同意：不论您是否指定还款账户，我司均有权自您账户和银行卡账户扣收到期款项，无需进一步通知您或征得您的同意。您必须按约存入足额资金，因账户余额不足导致的扣款失败等责任由您承担。</strong><br />
                    <strong>自账户扣款的，我司按照账户余额、银行卡账户顺序依次扣收，您应确保至少有一个账户资金余额大于等于当前应还金额，以确保扣款成功。任一账户内资金余额小于当前应还款金额，则不扣收该账户内资金，若账户余额、银行卡账户内资金均小于当前应还款金额，则导致扣款失败。 扣款顺序、扣款规则若有调整，我司将通过微信公众号及时公示并自公示之日起生效。</strong><br />
                    （五）到达指定账户的款项，按照如下顺序清偿各项债务：（1）多笔消费借款的，按借款到期时间先后依次偿还；（2）单笔借款的款项归还顺序：正常借款及逾期90天（含）以内的借款依次偿还违约金、费用、利息、本金；逾期90天以上（不含）的借款依次偿还本金、利息、费用、违约金。<br />
                    <strong>六、部分还款</strong><br />
                    您可通过我司网站、客户端页面及我司公告的其他途径提出不可撤销的部分还款申请。经我司审查同意的，您可偿还部分或全部本金，并结清相应利息。您部分偿还借款的，按照费用、初始借款本金自借款发放日至还款日止的利息、借款本金的顺序清偿债务，未偿还的借款按照合同约定按日计息。<br />
                    我司有权对前款规则进行调整，并视情况决定部分还款功能的实现程度及时间，具体以我司官网或客户端界面展示为准。<br />
                    <strong>七、权利与义务</strong><br />
                    （一）借款人的权利与义务<br />
                    1、有权享有我司提供的消费借款服务，知悉我司相关产品的功能、使用方法，收费项目、标准及相关的计算规则，有权对我司提供的服务质量进行监督。<br />
                    2、有权要求我司对借款人提供的有关个人信息予以保密，但法律法规另有规定或本借款合同另有约定的除外。<br />
                    3、应遵守本合同中的&ldquo;承诺与保证&rdquo;条款，向我司提供真实、有效的资料，并在有关信息发生变化后及时通知我司，包括但不限于登录账户修改、书面通知、在线或电话联系客服等。<br />
                    4、仔细阅读并充分理解本借款合同、重要提示及其他所有相关资料和文件，并持续关注我司通过网站或客户端等向借款人公示的借款合同修订，以及对上述资料和文件的修改和变更。<br />
                    <strong>5</strong><strong>、应妥善保管本人的账号、密码、绑定的手机号码、手机校验码等与办理及使用我司借款过程中的一切有关信息。借款人应确保不向其他任何人泄露有关账号信息和密码。对于因账号、密码泄露所致的损失，由借款人自行承担。如借款人发现有他人冒用或盗用本人账号及密码或任何其他未经合法授权之情形时，应立即以有效方式通知我司，要求其暂停相关服务。同时，借款人理解我司对相应的请求采取行动需要合理期限，在此之前，我司对已执行的指令及/或所导致的借款人损失不承担任何责任。</strong><br />
                    6、应按时支付借款合同项下的应付款项（包括但不限于本金、利息、贷款逾期违约金等），且不得以您与商家之间的商品纠纷为由拒绝归还借款合同项下的应付款项。<br />
                    7、借款人同意我司有权随时对本合同内容进行变更，并以在我司网站或客户端页面公告的方式予以公布，相关公告发布即视为借款人已收到，无需另行单独通知借款人；若借款人在本合同内容公告变更后继续使用我司提供的借款服务的，表示借款人已充分阅读、理解并接受修改后的合同内容，也将遵循修改后的合同内容使用借款服务；若借款人不同意修改后的合同内容，应归还已使用的借款并停止使用相关借款服务，否则因此导致的责任由借款人自行承担相关后果。<br />
                    8、借款人理解并同意我司有权单方面随时自行决定终止提供借款服务，同时我司没有义务在终止向借款人提供借款服务后，为借款人保留与借款服务相关的任何信息，或代为转发、转存相关信息给其他第三方。<br />
                    9、借款人应在下列情况发生之日起十日内以书面形式通知我司：（1）发生针对借款人或借款人家庭的诉讼、仲裁、索赔、强制执行或行政措施、刑事处罚等；（2）借款人信用状况恶化或可能出现恶化的，包括但不限于借款、银行卡或在其他业务中出现逾期还款，涉及债务纠纷、民间借贷、被其他第三方请求履行担保责任、受到行政或刑事处罚等；（3）其他可能危及借款人还款能力的事件。<br />
                    10、配合我司检查、监督借款使用情况、信用状况、收入状况、对外担保等情况，并配合提供有关资料。<br />
                    （二）我司的权利与义务<br />
                    <strong>1</strong><strong>、对不遵守有关法律法规或违反本合同约定的借款人（包括但不限于借款人未在规定期限内归还应付款项的），或者我司有理由认为借款人不再符合借款使用条件时，我司有权基于合理怀疑拒绝借款人继续使用借款，冻结借款人贷款额度，并以合理方式提醒借款人，如借款人在合理期限内未向我司提供充分证据以消除该等合理怀疑的，我司有权提前冻结、减少直至取消借款人的贷款额度而不必事先通知借款人。</strong>如借款人对我司冻结、减少或取消其贷款额度持有异议的，须按照我司要求，依据我司网站或客户端页面提示的方式向我司提供充分证据以消除该等合理怀疑，具体异议提出方式及解决方式以我司网站或客户端页面展示为准。<br />
                    2、为有针对性地向借款人提供新的服务以及优惠信息等，借款人了解并同意我司通过电子邮件、手机短信、微信公众号等方式向借款人推送该等相关信息。<br />
                    <strong>3</strong><strong>、我司有权通过信函、短信、电子邮件、电话、上门或司法途径等方式向您催收到期应付款项。您同意我司有权授权第三方通过手机短信、电话提醒、上门外访和寄送信函等一切合法方式，督促您按时支付所有应付款项，包括但不限于借款本金、利息、分期手续费、违约金等，其中，手机短信在发出时即视为送达。</strong><br />
                    4、我司对您的个人身份信息以及与您有关的银行卡等数据（下称&ldquo;保密信息&rdquo;）负有保密责任和义务，除与履行本合同有关的我司关联公司外，或出于为您提供更好的服务目的外，未经您允许，我司不得擅自将该等保密信息以任何形式披露给第三方，但根据法律法规必须予以披露或者依据本合同的规定使用、披露的除外。<br />
                    <strong>八、违约及救济</strong><br />
                    （一）当您出现下列任一情形时，视为您违约：<br />
                    1、违反&ldquo;承诺与保证&rdquo;之内容，或者出现不良还贷记录或没有按时足额偿还借款本息、费用或其他应付款项；<br />
                    2、死亡或被宣告死亡；失踪或被宣告失踪；无法联系约见；或者成为限制民事行为能力人或丧失民事行为能力；<br />
                    3、您的任何其他借款、担保、赔偿承诺或其他偿债责任未能履行，或者已进入诉讼/仲裁/强制执行程序，或者您的房屋、汽车等财产被公检法、行政机关查封、冻结或扣押；<br />
                    4、您的资信情况出现重大不利变化导致或可能导致借款人无法继续按时足额支付应付款项的情形；<br />
                    5、您违反本合同或我司《消费金融业务服务协议》约定的其他义务。<br />
                    （二）出现上述违约情形，我司有权采取以下措施：<br />
                    1、封锁、冻结注册账号，冻结、减少或取消您的贷款额度；<br />
                    2、要求您限期纠正违约行为；<br />
                    3、有权通过电话、邮件、短信等方式宣布本合同项下未到期的借款提前到期，无需事先向您发出书面通知即可要求您立即偿还全部借款，并提前支付相关利息、违约金等；<br />
                    4、直接从您的任何账户（包括但不限于银行账户、账户余额）扣收相应款项以偿还借款本息和费用，由此造成的可能的收益损失由您自己承担；<br />
                    5、采取公告、委托第三方催收公司或律师事务所、提起诉讼等方式进行催收，由此引起的一切费用由您承担，并向有关机构和单位披露您的违约信息；<br />
                    6、要求您承担违约责任，并赔偿我司因此遭受的任何损失和产生的任何费用和开支，包括但不限于律师费、诉讼费、仲裁费、公证费、财产保全费、鉴定费、执行费、评估费、拍卖费等；<br />
                    7、根据法律法规规定或本合同约定有权采取的其他违约救济措施。<br />
                    <strong>九、争议解决</strong><br />
                    凡因本合同引起的任何争议应通过协商解决，协商不成的，任何一方可以向珠海横琴优微金融服务有限公司住所地人民法院提起诉讼。败诉方应承担为解决本争议而产生的所有费用，包括但不限于诉讼费、律师费、公证费、财产保全费、执行费、差旅费等。<br />
                    <strong>十、其他约定</strong><br />
                    （一）未经我司同意，您不得将本合同项下权利义务转让给第三方；我司有权将本合同项下的权益转让给第三方、设定担保及/或设立信托/资产证券化，无需另行征得您同意，但我司会通过合理方式告知您。<br />
                    （二）除另有书面约定外，您于本合同中载明的通讯及联系地址系我司（或我司委托的第三方机构）和法院送达任何书面通知或各类法律文件的指定地址，寄送到该地址即视为送达。如您通讯及联系地址发生变更时，应及时书面通知我司，并在我司确认获悉后，对双方发生约束力。<br />
                    （三）您认同以电子数据形式提交、确认或签署任何法律性文件的方式及其法律效力，且认可我司电子数据的有效性和证据效力。我司相关系统所生成和保留记载的相关电子数据及交易记录，以及我司制作或保留的相关电子及纸质单据、凭证、记录等相关资料，均构成有效证明合同双方之间权利义务关系的确定证据。
                </div>
                <div class="m_down"><img src="/showimg/images/down.png" /></div>
            </div>

            <div style="clear:both;"></div>
            <div class="footer_btn" style="margin:0px;"><div class="m_f_btn" ng-click='doBind(@item.id, @pid, @money)'>在线签约</div></div>
                <!--内容结束-->
        </div>
    </div>
    <script src="@routes.Assets.at("js/angular.min.js")"></script>
    <script src='@routes.Assets.at("js/front_controllers/product_sign_controller.js")'></script>
}
